server {
    listen $PORT;

    # Set the root directory for serving the Vue.js application files
    root /usr/share/nginx/html;

    # Index file for fallback
    index index.html;

    # Serve the Vue.js application for all routes
    location / {
        try_files $uri $uri/ /index.html;
    }
}